.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .forgot-password-form,
  .otp-form,
  .newPassword-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  
  .forgot-password-form label,
  .otp-form label,
  .newPassword-form label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .forgot-password-form input,
  .otp-form input,
  .newPassword-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  }
  
  .forgot-password-form button,
  .otp-form button,
  .newPassword-form button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-password-form button[type="submit"]:disabled,
  .otp-form button[type="submit"]:disabled,
  .newPassword-form button[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .forgot-password-form button:hover,
  .otp-form button:hover,
  .newPassword-form button:hover {
    background-color: green;
  }
  
  .error-message {
    color: red;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .success-message {
    color: green;
    font-size: 16px;
    margin-top: 20px;
  }
  